<div class="container" *ngIf="post">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="box white">
                    <h5>View Post</h5>
                    <div>
                        <strong>ID:</strong>
                        <p>{{ post._id }}</p>
                    </div>

                    <div>
                        <strong>Title:</strong>
                        <p>{{ post.title }}</p>
                    </div>

                    <div>
                        <strong>Body:</strong>
                        <p>{{ post.body }}</p>
                    </div>
                    <button class="btn btn-outline-light" routerLink="/post/index">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>